/*
Author: Sonny
Date: September 14th, 2026
File Name: styles.css
*/

/* CSS reset rules: */
body, header, nav, footer, main, div, h1, iframe, img{
	margin: 0;
	padding: 0;
	border: 0;
}
/* style rules for body and images */
body{
	background-color: #000;
}

img{
	max-width: 100%;
	display: block;
}

/* style rules for header */
header{
	width: 25%;
	float: left;
}

/* style rules for navigation */
nav{
	width: 70%;
	float: right;
	margin: 5em 3em 0 0;
}

nav ul{
	list-style-type: none;
	margin: 0;
	text-align: right;
}

nav li{
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
}

nav li a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

/*header, nav, ul, main{
	border: 1px solid red;
}*/
/* style rules for main */

main{
	clear: left; /* or both*/
	background-color: #fff;
	padding: 2%;
	font-size: 1.25em;
}

.action{
	font-size: 1.35em;
	color: #660;
	font-weight: bold;
}

#weights, #cardio, #training{
	width: 33%;
	float: left;
	margin: 0 2%;
	
}

#exercises{
	clear: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f2f2f2;
	padding: 1% 2%;
}

#exercises dt{
	font-weight: bold;
}

#exercises dd{
	padding: 0.5% 1% 2% 0;
}

.external-link{
	color: #660;
	font-weight: bold;
	text-decoration: none;
}

#contact{
	text-align: center;
}

.map{
	border: 8px solid #000;
	width: 600px;
	height: 450px; 	
}

#contact a{
	color: #660;
	text-decoration: none;
}

/* style rules for footer content */
footer p{
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a{
	color: #fff;
	text-decoration: none;
}